# Node modules
node_modules

# Build output
dist

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# Logs
*.log

# Environment variables
.env

# IDE files
.idea
.vscode

# Test files
coverage
